In [2]:
import sys
sys.path.append("..")

import logging
import pandas as pd
from pathlib import Path

from albp.data.reader import *

logger = logging.Logger("generate-SALBP1993")

# SALBP 1993 dataset

Dataset summary data.

In [3]:
precedence_graphs = pd.read_excel(
    str(Path("../data/raw/albp-datasets/SALBP-1993/SALBP data sets.xlsx")),
    sheet_name="Precedence graphs",
    skiprows=21
)

precedence_graphs

,File name,Name,n,tmin,tmax,tsum,OS,TV,div,conv
0,ARC83.IN2,Arcus1,83,233,3691,75707,59.09,15.84,0.73,0.73
1,ARC111.IN2,Arcus2,111,10,5689,150399,40.38,568.90,0.63,0.63
2,BARTHOLD.IN2,Barthold,148,3,383,5634,25.80,127.67,0.74,0.72
3,BARTHOL2.IN2,Barthol2,148,1,83,4234,25.80,83.00,0.74,0.72
4,BOWMAN8.IN2,Bowman,8,3,17,75,75.00,5.67,0.88,0.80
5,BUXEY.IN2,Buxey,29,1,25,324,50.74,25.00,0.74,0.78
6,GUNTHER.IN2,Gunther,35,1,40,483,59.50,40.00,0.78,0.76
7,HAHN.IN2,Hahn,53,40,1775,14026,83.82,44.38,0.63,0.63
8,HESKIA.IN2,Heskiaoff,28,1,108,1024,22.49,108.00,0.68,0.69
9,JACKSON.IN2,Jackson,11,1,7,46,58.18,7.00,0.77,0.77
10,JAESCHKE.IN2,Jaeschke,9,1,6,37,83.33,6.00,0.73,0.73
11,KILBRID.IN2,Kilbridge,45,3,55,552,44.55,18.33,0.67,0.69
12,LUTZ1.IN2,Lutz1,32,100,1400,14140,83.47,14.00,0.76,0.82
13,LUTZ2.IN2,Lutz2,89,1,10,485,77.55,10.00,0.75,0.75
14,LUTZ3.IN2,Lutz3,89,1,74,1644,77.55,74.00,0.75,0.75
15,MANSOOR.IN2,Mansoor,11,2,45,185,60.00,22.50,0.79,0.91
16,MERTENS.IN2,Mertens,7,1,6,29,52.38,6.00,1.00,0.78
17,MITCHELL.IN2,Mitchell,21,1,13,105,70.95,13.00,0.74,0.70
18,MUKHERJE.IN2,Mukherje,94,8,171,4208,44.80,21.38,0.51,0.51
19,ROSZIEG.IN2,Roszieg,25,1,13,125,71.67,13.00,0.74,0.69
20,SAWYER30.IN2,Sawyer,30,1,25,324,44.83,25.00,0.83,0.83
21,SCHOLL.IN2,Scholl,297,5,1386,69655,58.16,277.20,0.70,0.69
22,TONGE70.IN2,Tonge,70,1,156,3510,59.42,156.00,0.78,0.73
23,WARNECKE.IN2,Warnecke,58,7,53,1548,59.10,7.57,0.72,0.81
24,WEE-MAG.IN2,Wee-Mag,75,2,27,1499,22.67,13.50,0.85,0.62

## SALBP-1

The last six columns describe the minimum number of stations after `x` seconds, where `x` is the column name.

In [4]:
df_salbp1 = pd.read_excel(
    str(Path("../data/raw/albp-datasets/SALBP-1993/SALBP data sets.xlsx")),
    sheet_name="SALBP-1 data set",
    skiprows=24,
    skipfooter=4
).dropna(axis=1)

df_salbp1

,Precedence graph,c,m*,m* or LB,m* or UB,rel. dev. from optimum [%],optimum proven,optimum found,computation time [sec],# b&b nodes,10,30,100,250,500,1000
0,Arcus1,3786,21,21,21,0.0,1,1,0.016,26,21,21,21,21,21,21
1,Arcus1,3985,20,20,20,0.0,1,1,0.032,77,20,20,20,20,20,20
2,Arcus1,4206,19,19,19,0.0,1,1,0.016,18,19,19,19,19,19,19
3,Arcus1,4454,18,18,18,0.0,1,1,0.000,17,18,18,18,18,18,18
4,Arcus1,4732,17,17,17,0.0,1,1,0.000,16,17,17,17,17,17,17
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
264,Wee-mag,49,32,31,32,0.0,0,1,3600.016,7282269,"[ 31,32]","[ 31,32]","[ 31,32]","[ 31,32]","[ 31,32]","[ 31,32]"
265,Wee-mag,50,32,31,32,0.0,0,1,3600.016,8888807,"[ 31,32]","[ 31,32]","[ 31,32]","[ 31,32]","[ 31,32]","[ 31,32]"
266,Wee-mag,52,31,31,31,0.0,1,1,0.000,30,31,31,31,31,31,31
267,Wee-mag,54,31,31,31,0.0,1,1,0.016,30,31,31,31,31,31,31
268,Wee-mag,56,30,30,30,0.0,1,1,0.000,29,30,30,30,30,30,30

In [7]:
df = pd.merge(precedence_graphs, df_salbp1, left_on="Name", right_on="Precedence graph")

def write_salbp1(graph: str, N: int, c: int, OS: float):
    data = Path("..", "data")
    raw = Path(data, "raw")
    processed = Path(data, "processed")
    graph = Path(graph)
    graph_path = Path(raw, "albp-datasets", "SALBP-1993", graph)
    with open(graph_path, "r") as f:
        data = f.read().split("\n")
    t = [i for i in data[1:N + 1]]
    P = [i for i in data[N + 1:] if (i != "-1,-1") and (len(i.split(",")) > 1)]

    problem = "\n".join([
        SECTION_NUM_TASKS, str(N), "",
        SECTION_CYCLE_TIME, str(c), "",
        SECTION_ORDER_STRENGTH, str(OS), "",
        SECTION_TASK_TIMES, *t, "",
        SECTION_PRECEDENCES, *P
    ])
    destination = Path(processed, "albp-datasets", "SALBP-1993")
    destination.mkdir(parents=True, exist_ok=True)
    with open(Path(destination, graph.stem + f"_{c}.alb"), "w") as f:
        f.write(problem)

for i, inst in df.iterrows():
    write_salbp1(inst['File name'], inst['n'], inst['c'], inst['OS'])